*{
    margin: 0;
    padding: 0;
    position: relative;
}
/*font-family: "Open Sans", sans-serif;*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}